<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Randnum = <%= randNum %> </h1>

    <% if(randNum === luckyNum){ %>
        <h1>Lucky 7</h1>
    <% }else{ %>
        <h1>Better LUCK NEXT TIME</h1>
    <% } %>
</body>
</html>