<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello from home.ejs page</h1>
    <h1> <%= 1+2+3+4+5 %> </h1>
    <h1>Web: <%= mentor %> </h1>

    <% for(let mentor of mentors){ %>
        <h1> <%= mentor %> </h1>
    <% } %>

</body>
</html>